n8n-workflows/design-handoff.json
{"updatedAt":"2026-06-19T00:51:38.466Z","createdAt":"2026-06-19T00:51:38.466Z","id":"IzjwQD3ed1PsMWQW","name":"Design Handoff Handler","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"id":"bc8c6ee5-eb18-4051-9575-47481f9af11b","name":"Cron Cada 2min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-1280,0]},{"parameters":{"operation":"executeQuery","query":"SELECT ah.id, ah.lead_id, ah.context, l.phone_number, l.client_name FROM agent_handoff ah JOIN leads l ON l.id = ah.lead_id WHERE ah.to_agent = 'design_bot' AND ah.status = 'pending' ORDER BY ah.id ASC LIMIT 5","additionalFields":{}},"id":"c8146ae6-dc8d-46bf-a9b7-dc9fb50d2c15","name":"Query Handoff Pendientes","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-1040,0],"credentials":{"postgres":{"id":"LogBM1juyjzgUr7G","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"39c74eac-1e53-4c84-9af5-c3de3ba7ca73","leftValue":"={{ $json.id }}","operator":{"type":"number","operation":"exists","singleValue":true},"rightValue":""}],"combinator":"and"},"options":{}},"id":"0e39b321-9d3e-40dd-aade-78c76cb941e6","name":"Hay Resultados?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-800,0]},{"parameters":{"batchSize":1,"options":{}},"id":"7cc4f0ca-06b8-482a-aaaf-41b8dd335563","name":"SplitInBatches","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-560,0]},{"parameters":{"jsCode":"// Lee la fila de agent_handoff + el JOIN con leads\nconst row = items[0].json;\n\n// Postgres JSONB llega como string; lo parseamos.\nlet ctx = {};\nif (typeof row.context === 'string' && row.context.trim() !== '') {\n  try { ctx = JSON.parse(row.context); } catch (e) { ctx = {}; }\n} else if (typeof row.context === 'object' && row.context !== null) {\n  ctx = row.context;\n}\n\nconst designType = (ctx.design_type || 'ai').toLowerCase();\nconst prompt = ctx.prompt || ctx.request || ctx.description || '';\nconst leadId = row.lead_id;\nconst phoneNumber = row.phone_number || '';\nconst clientName = row.client_name || '';\n\nreturn [{\n  json: {\n    handoff_id: row.id,\n    lead_id: leadId,\n    phone_number: phoneNumber,\n    client_name: clientName,\n    design_type: designType,\n    prompt: prompt,\n  }\n}];\n"},"id":"897c7a56-124a-4bfc-9f55-0d9994b4a978","name":"Parse Handoff","type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,0]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"8da96f61-8820-4eda-b7de-05858d4d3f5e","leftValue":"={{ $json.design_type }}","operator":{"type":"string","operation":"equals"},"rightValue":"ai"}],"combinator":"and"},"options":{}},"id":"aaac17dd-8e5d-4777-8744-2e456033514c","name":"Es Diseno AI?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-80,0]},{"parameters":{"method":"POST","url":"http://hermes:8000/generate-design","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": {{ JSON.stringify($('Parse Handoff').first().json.prompt) }},\n  \"lead_id\": {{ $('Parse Handoff').first().json.lead_id }}\n}","options":{"response":{"response":{"neverError":true}},"timeout":60000}},"id":"cb56ff18-c0fe-4259-b52c-e6eaa2368d5f","name":"Hermes Generar Diseno AI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,-240]},{"parameters":{"method":"POST","url":"http://hermes:8000/create-design-task","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": {{ JSON.stringify($('Parse Handoff').first().json.prompt) }},\n  \"lead_id\": {{ $('Parse Handoff').first().json.lead_id }}\n}","options":{"response":{"response":{"neverError":true}},"timeout":60000}},"id":"4cc93ad1-b70a-4276-a86c-4f71f9171f8f","name":"Hermes Crear Tarea Humana","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,240]},{"parameters":{"jsCode":"// Toma la respuesta de Hermes + el contexto parseado y arma el mensaje.\nconst hermes = items[0].json || {};\nconst designType = hermes.design_type || 'ai';\nconst success = hermes.success === true || hermes.success === 'true';\nlet body = '';\n\nif (designType === 'human') {\n  body = success\n    ? `Tu diseño está en manos de nuestro diseñador profesional. Te lo entregamos en 24-48h 🎨 Precio: $15`\n    : `Hubo un problema asignando tu diseño. Nuestro equipo te contactará pronto.`;\n} else {\n  const imageUrl = hermes.image_url || hermes.result_url || hermes.url;\n  body = success && imageUrl\n    ? `¡Tu diseño está listo! 🎨 Lo puedes ver aquí: ${imageUrl}`\n    : `Estamos procesando tu diseño. Te lo envío en unos minutos 🎨`;\n}\n\nreturn [{\n  json: {\n    to: hermes.phone_number || '',\n    body: body,\n    handoff_id: hermes.handoff_id,\n    design_type: designType,\n  }\n}];\n"},"id":"8725777b-0489-429f-9fbb-5b9b59db6193","name":"Build WhatsApp Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,0]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/850033644850831/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAS7wo17HP4BRhiYuuCr4wM5gJvb6ZAA0VgIQOVkTLfnECpw1iM7sxRWS2mAHpt5g2VXYKrP0WinsLMehbWLhzA1ppdY8QhyczWDZACgkJ3MXwj6GxOZBVHX5A0BHOi3bX61GCZCsqUUxMCtAmAsZA9ryr3lt1gnpIkQNRqBP0iJSbJrnRYhZCbuP7IAG6P29cHsDNaVtM1EyzAZDZD"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": {{ $('Build WhatsApp Message').first().json.to }},\n  \"type\": \"text\",\n  \"text\": { \"body\": {{ JSON.stringify($('Build WhatsApp Message').first().json.body) }} }\n}","options":{"response":{"response":{"neverError":true}}}},"id":"8c9ba0d7-317c-4cc9-9e38-488017343c8c","name":"Send WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,0]},{"parameters":{"operation":"executeQuery","query":"={{ \"UPDATE agent_handoff SET status = 'completed', result = '\"' + JSON.stringify($json) + \"'::jsonb, \" \"completed_at = NOW(), updated_at = NOW() WHERE id = \" + $(\"Build WhatsApp Message\").item.json.handoff_id }}","additionalFields":{}},"id":"e381b778-d801-47fe-bbf8-39ea770281c1","name":"Update Handoff","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[880,0],"credentials":{"postgres":{"id":"LogBM1juyjzgUr7G","name":"Postgres account"}}}],"connections":{"Cron Cada 2min":{"main":[[{"node":"Query Handoff Pendientes","type":"main","index":0}]]},"Query Handoff Pendientes":{"main":[[{"node":"Hay Resultados?","type":"main","index":0}]]},"Hay Resultados?":{"main":[[{"node":"SplitInBatches","type":"main","index":0}],[]]},"SplitInBatches":{"main":[[{"node":"Parse Handoff","type":"main","index":0}],[]]},"Parse Handoff":{"main":[[{"node":"Es Diseno AI?","type":"main","index":0}]]},"Es Diseno AI?":{"main":[[{"node":"Hermes Generar Diseno AI","type":"main","index":0}],[{"node":"Hermes Crear Tarea Humana","type":"main","index":0}]]},"Hermes Generar Diseno AI":{"main":[[{"node":"Build WhatsApp Message","type":"main","index":0}]]},"Hermes Crear Tarea Humana":{"main":[[{"node":"Build WhatsApp Message","type":"main","index":0}]]},"Build WhatsApp Message":{"main":[[{"node":"Send WhatsApp","type":"main","index":0}]]},"Send WhatsApp":{"main":[[{"node":"Update Handoff","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":true,"saveManualExecutions":true,"saveDataSuccessExecution":"all","saveDataErrorExecution":"all","timezone":"America/Caracas"},"staticData":{"node:Cron Cada 2min":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"d845be98-0627-4ab4-8bbd-d1f18ba9e23c","activeVersionId":"d845be98-0627-4ab4-8bbd-d1f18ba9e23c","versionCounter":4,"triggerCount":1,"shared":[{"updatedAt":"2026-06-19T00:51:38.471Z","createdAt":"2026-06-19T00:51:38.471Z","role":"workflow:owner","workflowId":"IzjwQD3ed1PsMWQW","projectId":"c5bgBS4s0pEHWDQL","project":{"updatedAt":"2025-10-19T21:10:24.908Z","createdAt":"2025-10-18T23:42:44.408Z","id":"c5bgBS4s0pEHWDQL","name":"Alfredo  Romero <business@alfredoromero.io>","type":"personal","icon":null,"description":null,"creatorId":"fb752d4e-1bed-47d2-b036-8caa5a2b27e2"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-19T00:51:38.473Z","createdAt":"2026-06-19T00:51:38.473Z","versionId":"d845be98-0627-4ab4-8bbd-d1f18ba9e23c","workflowId":"IzjwQD3ed1PsMWQW","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"id":"bc8c6ee5-eb18-4051-9575-47481f9af11b","name":"Cron Cada 2min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-1280,0]},{"parameters":{"operation":"executeQuery","query":"SELECT ah.id, ah.lead_id, ah.context, l.phone_number, l.client_name FROM agent_handoff ah JOIN leads l ON l.id = ah.lead_id WHERE ah.to_agent = 'design_bot' AND ah.status = 'pending' ORDER BY ah.id ASC LIMIT 5","additionalFields":{}},"id":"c8146ae6-dc8d-46bf-a9b7-dc9fb50d2c15","name":"Query Handoff Pendientes","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-1040,0],"credentials":{"postgres":{"id":"LogBM1juyjzgUr7G","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"39c74eac-1e53-4c84-9af5-c3de3ba7ca73","leftValue":"={{ $json.id }}","operator":{"type":"number","operation":"exists","singleValue":true},"rightValue":""}],"combinator":"and"},"options":{}},"id":"0e39b321-9d3e-40dd-aade-78c76cb941e6","name":"Hay Resultados?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-800,0]},{"parameters":{"batchSize":1,"options":{}},"id":"7cc4f0ca-06b8-482a-aaaf-41b8dd335563","name":"SplitInBatches","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-560,0]},{"parameters":{"jsCode":"// Lee la fila de agent_handoff + el JOIN con leads\nconst row = items[0].json;\n\n// Postgres JSONB llega como string; lo parseamos.\nlet ctx = {};\nif (typeof row.context === 'string' && row.context.trim() !== '') {\n  try { ctx = JSON.parse(row.context); } catch (e) { ctx = {}; }\n} else if (typeof row.context === 'object' && row.context !== null) {\n  ctx = row.context;\n}\n\nconst designType = (ctx.design_type || 'ai').toLowerCase();\nconst prompt = ctx.prompt || ctx.request || ctx.description || '';\nconst leadId = row.lead_id;\nconst phoneNumber = row.phone_number || '';\nconst clientName = row.client_name || '';\n\nreturn [{\n  json: {\n    handoff_id: row.id,\n    lead_id: leadId,\n    phone_number: phoneNumber,\n    client_name: clientName,\n    design_type: designType,\n    prompt: prompt,\n  }\n}];\n"},"id":"897c7a56-124a-4bfc-9f55-0d9994b4a978","name":"Parse Handoff","type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,0]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"8da96f61-8820-4eda-b7de-05858d4d3f5e","leftValue":"={{ $json.design_type }}","operator":{"type":"string","operation":"equals"},"rightValue":"ai"}],"combinator":"and"},"options":{}},"id":"aaac17dd-8e5d-4777-8744-2e456033514c","name":"Es Diseno AI?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-80,0]},{"parameters":{"method":"POST","url":"http://hermes:8000/generate-design","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": {{ JSON.stringify($('Parse Handoff').first().json.prompt) }},\n  \"lead_id\": {{ $('Parse Handoff').first().json.lead_id }}\n}","options":{"response":{"response":{"neverError":true}},"timeout":60000}},"id":"cb56ff18-c0fe-4259-b52c-e6eaa2368d5f","name":"Hermes Generar Diseno AI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,-240]},{"parameters":{"method":"POST","url":"http://hermes:8000/create-design-task","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": {{ JSON.stringify($('Parse Handoff').first().json.prompt) }},\n  \"lead_id\": {{ $('Parse Handoff').first().json.lead_id }}\n}","options":{"response":{"response":{"neverError":true}},"timeout":60000}},"id":"4cc93ad1-b70a-4276-a86c-4f71f9171f8f","name":"Hermes Crear Tarea Humana","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,240]},{"parameters":{"jsCode":"// Toma la respuesta de Hermes + el contexto parseado y arma el mensaje.\nconst hermes = items[0].json || {};\nconst designType = hermes.design_type || 'ai';\nconst success = hermes.success === true || hermes.success === 'true';\nlet body = '';\n\nif (designType === 'human') {\n  body = success\n    ? `Tu diseño está en manos de nuestro diseñador profesional. Te lo entregamos en 24-48h 🎨 Precio: $15`\n    : `Hubo un problema asignando tu diseño. Nuestro equipo te contactará pronto.`;\n} else {\n  const imageUrl = hermes.image_url || hermes.result_url || hermes.url;\n  body = success && imageUrl\n    ? `¡Tu diseño está listo! 🎨 Lo puedes ver aquí: ${imageUrl}`\n    : `Estamos procesando tu diseño. Te lo envío en unos minutos 🎨`;\n}\n\nreturn [{\n  json: {\n    to: hermes.phone_number || '',\n    body: body,\n    handoff_id: hermes.handoff_id,\n    design_type: designType,\n  }\n}];\n"},"id":"8725777b-0489-429f-9fbb-5b9b59db6193","name":"Build WhatsApp Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,0]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/850033644850831/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAS7wo17HP4BRhiYuuCr4wM5gJvb6ZAA0VgIQOVkTLfnECpw1iM7sxRWS2mAHpt5g2VXYKrP0WinsLMehbWLhzA1ppdY8QhyczWDZACgkJ3MXwj6GxOZBVHX5A0BHOi3bX61GCZCsqUUxMCtAmAsZA9ryr3lt1gnpIkQNRqBP0iJSbJrnRYhZCbuP7IAG6P29cHsDNaVtM1EyzAZDZD"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": {{ $('Build WhatsApp Message').first().json.to }},\n  \"type\": \"text\",\n  \"text\": { \"body\": {{ JSON.stringify($('Build WhatsApp Message').first().json.body) }} }\n}","options":{"response":{"response":{"neverError":true}}}},"id":"8c9ba0d7-317c-4cc9-9e38-488017343c8c","name":"Send WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,0]},{"parameters":{"operation":"executeQuery","query":"={{ \"UPDATE agent_handoff SET status = 'completed', result = '\"' + JSON.stringify($json) + \"'::jsonb, \" \"completed_at = NOW(), updated_at = NOW() WHERE id = \" + $(\"Build WhatsApp Message\").item.json.handoff_id }}","additionalFields":{}},"id":"e381b778-d801-47fe-bbf8-39ea770281c1","name":"Update Handoff","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[880,0],"credentials":{"postgres":{"id":"LogBM1juyjzgUr7G","name":"Postgres account"}}}],"connections":{"Cron Cada 2min":{"main":[[{"node":"Query Handoff Pendientes","type":"main","index":0}]]},"Query Handoff Pendientes":{"main":[[{"node":"Hay Resultados?","type":"main","index":0}]]},"Hay Resultados?":{"main":[[{"node":"SplitInBatches","type":"main","index":0}],[]]},"SplitInBatches":{"main":[[{"node":"Parse Handoff","type":"main","index":0}],[]]},"Parse Handoff":{"main":[[{"node":"Es Diseno AI?","type":"main","index":0}]]},"Es Diseno AI?":{"main":[[{"node":"Hermes Generar Diseno AI","type":"main","index":0}],[{"node":"Hermes Crear Tarea Humana","type":"main","index":0}]]},"Hermes Generar Diseno AI":{"main":[[{"node":"Build WhatsApp Message","type":"main","index":0}]]},"Hermes Crear Tarea Humana":{"main":[[{"node":"Build WhatsApp Message","type":"main","index":0}]]},"Build WhatsApp Message":{"main":[[{"node":"Send WhatsApp","type":"main","index":0}]]},"Send WhatsApp":{"main":[[{"node":"Update Handoff","type":"main","index":0}]]}},"authors":"Alfredo  Romero","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-19T00:51:44.247Z","id":55,"workflowId":"IzjwQD3ed1PsMWQW","versionId":"d845be98-0627-4ab4-8bbd-d1f18ba9e23c","event":"activated","userId":"fb752d4e-1bed-47d2-b036-8caa5a2b27e2"}]}}